.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../imagens/Grand-Canyon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
  

}

