.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../imagens/muralha-china.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;

}

